model_version: 2.0
product_va_config:
    name: 5G CNR
    product_name: eric-oss-5gcnr
    version: {version}
    va_template_version: 2.0.0
    description: 5G Centralized Neighbor Relations (CNR) rApp is a microservices supporting LTE to 5G FR2 cell relationship creation. It provides the information needed by the LTE nodes for ANR on the node to work with 5G FR2 cells

    mitigations:
        CVE-2015-8855:
            mitigation: This is a placeholder, example mitigation. Add mitigation steps below.
            sce:
                sce-id: SCE-1234-00
                status: Pending
                expires: 2022-12-10T00:00:00Z

        CVE-2016-1000027:
            evaluation:
                status: UT
                rationale: >
                     The vulnerable classes, HttpInvokerServiceExporter
                     and SimpleHttpInvokerServiceExporter, are based on
                     RemoteInvocationSerializingExporter. Neither of these are used
                     in our project so we are not vulnerable to this. But they come
                     packaged with springboot so we are stuck with the vulnerability
                     alert with no way to exclude it. We do not expose service beans
                     as an endpoint either which is the root cause. The only fix is
                     to make sure we dont use it, and since we dont, this is a very
                     low risk issue.
                     Contextual info: https://blog.gypsyengineer.com/en/security/detecting-dangerous-spring-exporters-with-codeql.html
            mitigation: >
                Continue to not use the vulnerable classes.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-42889:
            Task:
                - IDUN-48784
            evaluation:
                status: UT
                rationale: >
                     A flaw was found in Apache Commons Text packages 1.5 through 1.9. The affected versions allow an attacker to benefit
                     from a variable interpolation process contained in Apache Commons Text, which can cause properties to be dynamically defined.
                     more info: "https://access.redhat.com/security/cve/cve-2022-42889"
            mitigation: >
                Upgrade to Apache Commons Text 1.10.0.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-42920:
            Task:
                - IDUN-48806
            evaluation:
                status: UT
                rationale: >
                    Apache Commons BCEL has a number of APIs that would normally only allow changing specific class characteristics.
                    However, due to an out-of-bounds writing issue, these APIs can be used to produce arbitrary bytecode.
            mitigation: >
                Update to Apache Commons BCEL 6.6.0
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-25857:
            Task:
                - IDUN-48819
            evaluation:
                status: UT
                rationale: >
                    The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-38749:
            Task:
                - IDUN-48819
            evaluation:
                status: UT
                rationale: >
                    The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-38750:
            Task:
                - IDUN-48819
            evaluation:
                status: UT
                rationale: >
                    The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-38751:
            Task:
                - IDUN-48819
            evaluation:
                status: UT
                rationale: >
                    The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-38752:
            Task:
                - IDUN-48819
            evaluation:
                status: UT
                rationale: >
                    The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-3479:
            Task:
                - IDUN-48854
            evaluation:
                status: UT
                rationale: >
                     The NSS client auth crashes without a user certificate in the database.
                     Contextual info: "https://bugzilla.redhat.com/show_bug.cgi?id=2134331"
            mitigation: >
                Fixed In Version nss 3.81
                No action. We will uplift the CBOS version in a future release.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-42003:
            Task:
                - IDUN-48819
            evaluation:
                status: UT
                rationale: >
                    The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-42004:
            Task:
                - IDUN-48819
            evaluation:
                status: UT
                rationale: >
                    The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2021-41035:
            Task:
                - IDUN-55050
            evaluation:
                status: UT
                rationale: >
                    The package is coming from CBOS. The affected dependency will be updated once realistic maintenance capacity expectations are established and add a mitigation plan is put in place. The issue will be tracked and assessed in the ticket.
            mitigation: >
                Uplift dependency at a later date once maintenance capacity is clarified and a mitigation plan is in place.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-47629:
            Task:
                - IDUN-55050
            evaluation:
                status: UT
                rationale: >
                    The CBOS team has an exemption for this CVE.
            mitigation: >
                Check in with CBOS team as exemption nears expiry.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-1471:
            Task:
                - IDUN-55050
            evaluation:
                status: UT
                rationale: >
                    Spring Boot supported versions already use SafeConstructor internally from class org.springframework.boot.env.OriginTrackedYamlLoader,
                    and it is not susceptible to this CVE, unless the application is using SnakeYaml to deserialize untrusted input.
                    The service does not parse untrusted yaml files.
            mitigation: >
                Continue avoid using untrusted input.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2022-42252:
            Task:
                - IDUN-55050
            evaluation:
                status: UT
                rationale: >
                    If Apache Tomcat 8.5.0 to 8.5.52, 9.0.0-M1 to 9.0.67, 10.0.0-M1 to 10.0.26 or 10.1.0-M1 to 10.1.0 was
                    configured to ignore invalid HTTP headers via setting rejectIllegalHeader to false (the default for
                     8.5.x only), Tomcat did not reject a request containing an invalid Content-Length header making a
                     request smuggling attack possible if Tomcat was located behind a reverse proxy that also failed to
                     reject the request with the invalid header. This could be solved by direct uplifting tomcat server
                     version, or by uplifting spring boot version which tomcat version will be lifted implicitly.
            mitigation: >
                Spring Boot version uplifited to 2.7.6
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A